
html body {
    background-color: #000;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

body .table  {
    
    background-color: #116d70;
    color: white;
    margin: 40% auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    border-radius: 9px;
    overflow: hidden;
    
}

/* body .table .base-row {
    background-color: #3e56a8 !important;
    

}

body .table .base-row2 {
    background-color: #3e56a8 !important;
    color: yellow !important;
} */

.nowrap {
    white-space:nowrap;
}

body .table>:not(caption)>*>* {
    padding: 1rem 0.25rem;

}
